.App {
  text-align: center;
  background-image: url(../src/assets/main-bg.jpg);
  background-size: cover;
  background-position: center;
  background-size: contain;
  width: 100vw;
  height: auto;
  min-height: 100vh;
}